.componentcontainer {
    display: flex;
    justify-content: center;
    right: 0;
    width: 92%;
    height: 10vh;
  }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20pt;
    background-color: silver;
    width: 70%;
    height: auto;
}