.componentcontainer {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 70vh;
    margin-bottom: 80px;
    margin-right: 1%;
    margin-left: auto;
  }

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-right: 3%;
    align-items: center;
    border-radius: 20pt;
    background-color: silver;
    width: 100%;
    height: fit-content;
}

.weekdaysrow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
